:root {
  /* general colours */
  /* pinky cream */
  --background: #F8F8F8; 
  --text: #4A3457;
  --text-secondary: #4b3d53b4;
  --title: #685384;
  --subtitle: #7c6895;

  /* button colours */
  --button: #8F78B0;
  --button-hover: #A68DC4;
  --button-text: #F8F8F8;
  --button-secondary-text: #f8f8f8e4;
  --button-visible: #FFD966;
  --white-button-hover: #E0E0E0;

  --header-button-hover: #00000013;

  --back-hover: #E0E0E0;

  --red: #cc2323;

  --danger: #C23B3B;
  --danger-hover: #D44A4A;

  --cancel: #8E8F97;
  --cancel-hover: #A1A2AA;

  --transparent-bg: rgba(0, 0, 0, 0.05);
  --transparent-bg-shadow: rgba(0, 0, 0, 0.05);
}