.home-page {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.home-title {
  color: var(--title);
  font-size: 4.5rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.home-buttons {
  width: 50%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.home-subtitle {
  color: var(--subtitle);
  font-style: italic;
  font-size: 2rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}