.my-songs-page {
  padding: 1rem 4rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#songList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.track {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: var(--transparent-bg);
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: 0 2px 4px var(--transparent-bg-shadow);
}

.instrumental-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background: var(--button);
  border: none;
  border-radius: 0.8rem;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.inst-btn-left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  line-height: 1.3;
}

.inst-btn-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--button-text);
  text-align: left;
  margin-right: 1rem;
}

.inst-btn-subtitle {
  font-size: 1.2rem;
  color: var(--button-secondary-text);
  text-align: left;
}

.inst-btn-dates {
  display: flex;
  flex-direction: column;
}

.inst-btn-date {
  text-align: right;
  font-size: 1rem;
  color: var(--button-text);
  line-height: 1.3;
}

.lyric-btn-date {
  text-align: right;
  font-size: 1rem;
  color: var(--title);
  line-height: 1.3;
}

.instrumental-button:hover {
  background: var(--button-hover);
  transform: translateY(-2px);
}

.lyric-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--background);
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.lyric-button:hover {
  background: white;
  color: var(--button-text);
  transform: translateY(-2px);
}
.instrumental-page-lyric-button {
  margin-left: 0;
}

.lyric-btn-left {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.lyric-btn-title {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text);
  margin-right: 1rem;
}

.lyric-btn-subtitle {
  text-align: left;
  font-size: 1.1rem;
  color: var(--text-secondary);
}
