.my-songs-page {
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#songList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.track {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}