@import './colours.css';

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-size:24px;
}

body {
  user-select: none;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.button {
  font-family: 'Nunito', sans-serif;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--button-text);
  background-color: var(--button);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  text-align: center;
  line-height: 110%;
}

.button:hover {
  background-color: var(--button-hover);
  transform: translateY(-0.2rem);
}

.button:active {
  transform: translateY(0);
}

.button:focus-visible {
  outline: 0.2rem solid var(--button-visible);
  outline-offset: 3px;
}

.header-button {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-button:hover {
  background-color: var(--header-button-hover);
  transform: translateY(-0.1rem);
  cursor: pointer;
}

.header-button:active {
  transform: translateY(0);
}

.header-button svg {
  width: 2.7rem;
  color: var(--title);
}

.header {
  position: fixed;
  inset: 0;
  height: 6rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  z-index: 100;
}

#app {
  padding-top: 6rem;
  box-sizing: border-box;
}

#title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  color: var(--title);
}

.header-left {
  justify-self: start;
}

.header-center {
  justify-self: center;
}

.header-right {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

#background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.blob {
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  background: var(--color);
  filter: blur(70px);
  opacity: 0.5;
  transition: transform 8s ease-in-out;
}

.song-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

#lyrics {
  max-width: 60%;
  margin: 0 auto;
}

.lyric-line {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  line-height: 1.4;
  color: var(--text);
  white-space: pre-wrap;
}

/* SETTINGS PAGE STYLES */
.settings-page {
  padding: 2rem;
}

.settings-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  align-items: center;
}

.setting {
  display: grid;
  width: 70%;
  grid-template-columns: 2fr 1fr;
}

.setting label {
  justify-self: start;
  font-size: 2.5rem;
  color: var(--title);
}

.settings-page select,
.settings-page input[type="range"],
.settings-page input[type="checkbox"] {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  border-radius: 0.25rem;
}