@import './colours.css';

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

html {
  font-size:24px;
}

body {
  user-select: none;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.button {
  font-family: 'Nunito', sans-serif;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--button-text);
  background-color: var(--button);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  text-align: center;
  line-height: 110%;
}

.button:hover {
  background-color: var(--button-hover);
  transform: translateY(-0.2rem);
}

.button:active {
  transform: translateY(0);
}

.button:focus-visible {
  outline: 0.2rem solid var(--button-visible);
  outline-offset: 3px;
}

.header-button {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-button:hover {
  background-color: var(--header-button-hover);
  transform: translateY(-0.1rem);
  cursor: pointer;
}

.header-button:active {
  transform: translateY(0);
}

.header-button svg {
  width: 2.7rem;
  color: var(--title);
}

.header-button-x:hover svg {
  color: var(--red);
  transition: color 0.2s ease;
}

.header {
  position: fixed;
  inset: 0;
  height: 6rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem;
  z-index: 100;
}

#app {
  padding-top: 6rem;
  box-sizing: border-box;
}

#title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--title);
}

.header-left {
  justify-self: start;
}

.header-center {
  justify-self: center;
}

.header-right {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

#background {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.blob {
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  background: var(--color);
  filter: blur(70px);
  opacity: 0.5;
  transition: transform 8s ease-in-out;
}

.lyric-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

#lyrics {
  max-width: 60%;
  margin: 0 auto;
}

.lyric-line {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  line-height: 1.4;
  color: var(--text);
  white-space: pre-wrap;
}

/* SETTINGS PAGE STYLES */
.settings-page {
  padding: 2rem;
}

.settings-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  align-items: center;
}

.setting {
  display: grid;
  width: 70%;
  grid-template-columns: 2fr 1fr;
}

.setting label {
  justify-self: start;
  font-size: 2.5rem;
  color: var(--title);
}

.settings-page select,
.settings-page input[type="range"],
.settings-page input[type="checkbox"] {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  border-radius: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  align-items: center;
}

form .button {
  position: absolute;
  bottom: 2rem;
}

.prompt-box {
  width: 40rem;
  height: 10rem;
  background-color: var(--transparent-bg);
  border-radius: 0.8em;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--text);
  border: none;
  outline: none;
  resize: none;
}

.creation-settings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-items: center;
  gap: 3rem;
  max-width: 60%;
  margin-bottom: 1rem;
}

.creation-setting {
  width: 11rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;  
  text-align: center;
  font-weight: 600;
  color: var(--title);
  align-items: center;
}

.creation-setting select {
  width: 70%;
  font-size: 1.4rem;
  font-family: inherit;
  background-color: var(--transparent-bg);
  color: var(--text);
  border-radius: 0.4rem;
  padding: 0.4rem;
  border: none;
  outline: none;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-overlay {
  text-align: center;
  color: white;
  font-size: 1.4em;
}

.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: 
    conic-gradient(#0000 10%, #fff),
    linear-gradient(#fff 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}
@keyframes spin {to{transform: rotate(1turn)}}
